/* 
    Document   : css
    Created on : 02-Jul-2013, 13:04:58
    Author     : samspc
    Description:
        Purpose of the stylesheet follows.
*/

html *{ 
    background-color: black;
    /*color: #20FF20;*/    
    color: yellow;
    outline : 0;
    border: none;
    font-family: courier;
    border-color: black;
    
}

table ,td,tr {
    border: 1px solid green;
    border-color:#20FF20;
    -moz-box-sizing: border-box;
    /*outline-width: 2px;*/
}

td {
    text-align: center;
}

#myTextInput {
    width : 50em;
}

#bold {
    font-weight: bold;
}